* {
    margin: 0;
}

/* Font - Imprima */
@font-face {
    font-family: IstokWeb;
    src: url(../fonts/IstokWeb-Bold.ttf);
}

@font-face {
    font-family: Imprima;
    src: url(../fonts/Imprima-Regular.ttf);
}


/* Altura do site */
body {
    height: 2000px;
    font-family: IstokWeb;

}



/* Cabeçario laranja */
.Orange-navbar {
    /* border: 2px solid red; */
    display: flex;
    width: 100%;
    height: 5%;
    padding: 10px 0;
    background-color: #ff8400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.box-logoMarca {
    /* border: 2px solid red; */
    text-align: center;
    height: 100%;
    width: 33%;
    margin: 0px 10px 0px 10px;

}

/* Imagem da logo que fica no canto esquerdo */
.logoMarca {
    /* border: 2px solid red; */
    cursor: pointer;
    width: 70%;
    max-width: 190px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.box-search,
.Perfil-Carrinho {

    display: inline-block;
    height: 100%;
    width: 33%;
    margin: 0px 10px 0px 10px;

    /* border: 2px solid red; */
}

/* Pesquisa */
.search {
font-family: Imprima;

    margin-top: 30px;

    width: 100%;
    height: 40px;
    padding: 3%;

    /* border: 2px solid red; */
    border-radius: 8px;


}

/* Logo que fica do lado da Search */
.logoInvertida {
    cursor: pointer;

    width: 70px;
    max-width: 50%;

    margin-top: -73px;
    margin-left: 90%;

}

.space-profile {
    /* border: 2px solid red; */

    display: flow-root;
    text-align: center;
    align-items: center;
    margin: auto;

    width: 70%;
    height: 80%;
    margin-right: 25%;

    margin-top: 2%;
}

.profile {
    width: 100%;
    max-width: 60px;
    height: 10%;
    max-height: 50px;

    margin-top: 15px;
}

.cart {
    width: 100%;
    max-width: 60px;
    height: 50px;
    max-height: 50px;

    margin-left: 70%;
    margin-top: 15px;
}

/* Cabeçario preto */
.Black-navbar {
    background-color: black;
    max-width: 100%;
    height: 2.8%;

    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Faz parte do Cabeçario preto, que faz os botoes funcionarem */
.Black-navbar button {
    margin-top: 3%;
    margin: 18px;
    border: none;

    background-color: transparent;

}

/* Nomes que ficam no Cabeçario preto  */
.Black-navbar a {
    text-decoration: none;
    color: white;
}

/* A borda que fica em baixo dos nomes que estão no cabeçario preto  */
a:hover {
    border-bottom: 2px solid white;
}


/* Banner do site  */
.bannerDoSite {
    width: 100%;
}

/* Faixas da página inicial */

/* Parte dos mais procurados */
.maisProcurados,
.consoles,
.jogos {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
}

/* /Faixas da página inicial */

/* /Jogos */

/* Css da parte dos Produtos em mais procurados */
.theLastofUs,
.uncharted,
.eldenRing {
    justify-content: center;
    align-items: center;
    margin: 3%;

    width: 13%;
    margin-top: 3%;
    border: 5px solid #ff8500;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

/* Css da parte dos Produtos em console */
.ps5,
.nintendo,
.xbox {
    justify-content: center;
    align-items: center;
    margin: 3%;

    width: 13%;
    margin-top: 3%;
    border: 5px solid #ff8500;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

/* Css da parte dos Produtos em Jogos */
.starWars,
.pokémon,
.gta {
    justify-content: center;
    align-items: center;
    margin: 3%;

    width: 13%;
    margin-top: 3%;
    border: 5px solid #ff8500;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

/* Formatação dos Jogos/Produtos */

.spaceProdutos {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 532px;
}

/* Texto dos Jogos/Produtos */
.textoDosProdutos {
    height: 17%;
    margin-top: 3.8%;
}

/* Imagem dos Jogos/Produtos */
.imagemProdutos {
    width: 150px;
    height: 200px;
}

/* Preço dos Jogos/Produtos */
.precoProdutos {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    font-family: Imprima;
    width: 150px;
}

/* Botão dos Jogos/Produtos */
.botaoProdutos {
    cursor: pointer;

    font-weight: 600;
    font-family: IstokWeb;

    color: white;
    background-color: #8000cf;
    border: 3px solid #ff8500;
    border-radius: 20px;
    margin-top: 20px;

    padding: 10px;
    width: 98%;

    transition: .5s;
}

.botaoProdutos:hover {
    background-color: #ff8500;
    border: 3px solid #8000cf;
}


dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-1 {
    margin-top: 6%;
    border: 2px solid #ff8500;
    border-radius: 20px;
    bottom: 50%;
    left: 70%;
}

.modal-2 {
    margin-top: 6%;
    overflow-x: hidden;
    
    border: 2px solid #ff8500;
    border-radius: 20px;
    bottom: 50%;

    left: 63.5%;
    width: 30%;
}

.alinhar-conteudo {
    text-align: center;
    align-items: center;
    margin: auto;
}

.close-modal {
    cursor: pointer;

    margin-left: 92%;

    background-color: transparent;
    color: #8000cf;
    border: none;


    font-size: 18px;
}

.open-cadastro {
    cursor: pointer;

    background-color: #8000cf;
    border: 2px solid #ff8500;
    border-radius: 20px;
    color: white;

    margin-top: 4%;
    padding: 3% 6%;
}

.open-cadastro:hover {
    background-color: #ff8500;
    border: 2px solid #8000cf;
}

h1 {
    margin-top: 4%;
    font-size: 16px;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #8000cf;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 5px;
    border: 1px groove #8000cf;
}












#listaProdutos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
    height: 532px;
    
    margin: auto;
}

.item {
    justify-content: center;
    align-items: center;
    margin: 3%;

    width: 13%;
    margin-top: 3%;
    border: 5px solid #ff8500;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

.carinItens{
    width: 500px;
    display: flex;
    margin-top: 4%;
    
}

.carinImg{
    display: flex;
    margin-left: 5%;
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.carinNome{
    text-align: justify;
    width: 200px;
    margin-top: 5%;
    margin-left: 30px;
    font-family: istokWeb;
}

.carinPreco{
    text-align: justify;
    margin-top: 50%;
    margin-left: -150%;
    width: 120px;
    font-family: Imprima;
}

.carinLixo{
    width: 18%;
    margin-top: 50%;
    margin-inline-start: 20%;
    cursor: pointer;
}

.precoLixoContainer{
    display: flex;
}
