* {
    margin: 0;
}

/* Font - Imprima */
@font-face {
    font-family: IstokWeb;
    src: url(../fonts/IstokWeb-Bold.ttf);
}

@font-face {
    font-family: Imprima;
    src: url(../fonts/Imprima-Regular.ttf);
}

/* Altura do site */
body {
    height: 2000px;
    background-color: #F2F2F2;
}

/* Cabeçario laranja */
.Orange-navbar {
    display: flex;
    width: 100%;
    height: 5%;
    padding: 10px 0;
    background-color: #ff8500;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box-logoMarca,
.box-search,
.Perfil-Carrinho {
    display: inline-block;
    height: 100%;
    width: 33%;
    margin: 0px 10px;
}

.logoMarca {
    cursor: pointer;
    width: 70%;
    max-width: 190px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
}

/* Pesquisa */
.search {
    font-family: Imprima;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    padding: 3%;
    border-radius: 8px;
}

.logoInvertida {
    cursor: pointer;
    width: 70px;
    max-width: 50%;
    margin-top: -73px;
    margin-left: 90%;
}

.space-profile {
    display: flow-root;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 80%;
    margin-right: 25%;
    margin-top: 2%;
}

.profile,
.cart {
    width: 100%;
    max-width: 60px;
    height: 10%;
    max-height: 50px;
    margin-top: 15px;
}

.cart {
    margin-left: 70%;
}

/* Cabeçario preto */
.Black-navbar {
    font-family: IstokWeb;

    background-color: black;
    max-width: 100%;
    height: 2.8%;

    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Faz parte do Cabeçario preto, que faz os botoes funcionarem */
.Black-navbar button {
    margin-top: 3%;
    margin: 18px;
    border: none;

    background-color: transparent;

}

/* Nomes que ficam no Cabeçario preto  */
.Black-navbar a {
    text-decoration: none;
    color: white;

}

/* A borda que fica em baixo dos nomes que estão no cabeçario preto  */
.Black-navbar a:hover {
    border-bottom: 2px solid white;
    
}

/* Conteudo Modal */

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-1 {
    margin-top: 6%;
    border: 3px solid #ff8400;
    border-radius: 20px;
    bottom: 50%;
    left: 70%;
}

.modal-2 {
    margin-top: 6%;
    border: 3px solid #ff8400;
    border-radius: 20px;
    bottom: 50%;
    left: 73.5%;
    width: 20%;
}

.alinhar-conteudo {
    text-align: center;
    align-items: center;
    margin: auto;
}

.close-modal {
    cursor: pointer;

    margin-left: 92%;

    background-color: transparent;
    color: #8000cf;
    border: none;


    font-size: 18px;
}

.open-cadastro {
    cursor: pointer;

    font-family:IstokWeb;
    font-weight:600;

    background-color: #8000cf;
    border: 3px solid #ff8400;
    border-radius: 20px;
    color: white;

    margin-top: 4%;
    padding: 3% 6%;

    transition: .5s;
}

.open-cadastro:hover {
    background-color: #ff8400;
    border: 3px solid #8000cf;
}

h1 {
    font-family: IstokWeb;
    margin-top: 4%;
    font-size: 16px;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #8000cf;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 5px;
    border: 1px groove #8000cf;
}

.container{
    background-color: white;
    justify-content: center;
    align-items: center;

    width: 80%;
    display: flex;
/* 
    border: 5px solid #ff8400; */
    border-radius: 30px;
    padding: 20px;
    margin-left: 9%;
    margin-top: 2%;
}

.space{
    /* border: 5px solid #ff8400; */
    width: 50%;
    height: 100%;
    margin-top: -5%;
    /* width: 50%;
    margin-right: 50%; */
}

.espacamento{
    border: 2px solid #ff8400;
    height: 500px;
}

.textos{
    margin-left: 2%;
}

.item1, .item2, .item3, .item4, .item5, .botao{
    border: 2px solid #8000cf;
    margin: 2%;
    padding: 10px;
    border-radius: 15px;
}

.item1{
    width: 50%;
}

.item2{
    width: 22%;
}

.item3{
    width: 50%;
}

.item4{
    width: 50%;
}

.item5{
    width: 22%;
}

.itens3{
    /* border: 2px solid red; */
    display: flex;
}

.botao{
    background-color: #ff8400;
    border: 2px solid #8000cf;
    color: white;
    transition: .5s;
    width: 50%;
    cursor: pointer;
}
.botao:hover{
    background-color: #8000cf;
    border: 2px solid #ff8400;
    color: white;
}

.onde-ficara-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
}


.espacamento, .space2{
    margin: 1%;
}

.space2{
    /* border: 5px solid #ff8400; */
    display: flex;
    text-align: justify;
    width: 50%;
    height: 100%;
}

.inputProdutos{
    margin: 2%;
}

.imagemProdutos{
    margin: auto;
    height: 40px;
    width: 10px;
}